[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.13.1"
uritemplate = "*"
asgiref = "==3.5.0"
pytz = "==2022.1"
sqlparse = "==0.4.2"
Django = "~=4.0"
PyYAML = "*"
gunicorn = "*"
psycopg2-binary = "*"
heroku = "*"
environs = {extras = ["django"], version = "*"}
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.10"
